

:root{
    --colorTextos: #49454567;      
}

*,
::before,
::after{
    margin: 0;
    padding: 0;
    
}
body{
    
    background: #334d50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #cbcaa5, #334d50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cbcaa5, #334d50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    font-weight: 100;
}

form{
    background:#fff;
    padding: 0px ;
    box-shadow: 0 0 6px 0 rgb(255, 255, 2500, 0.8);
    border-radius: 10px;
    
}

.form{
    width: 100%;
    margin: auto;
}

form .grupo{
    position: relative;
    margin: 10px;  
}

input{
    background: none;
    color: #c8aaaa;
    font-size: 18Px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
}

input:focus{
    outline: none;
    color:#5e5d5e
}

label{
    color:var(--colorTextos);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.5s ease-in-out all;
    pointer-events: none;
}

input:focus~label,
input:valid~label{
    top:-10px;
    font-size: 12px;
    color: brown;
}

button{
    background: #334d50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #cbcaa5, #334d50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cbcaa5, #334d50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border:  none;
    display: block;
    width: 80%;
    margin: 10% auto;
    color:#fff;
    height: 30px;
}